# Topic ideas - Data

---

Group name: Gruppe A

---

*Replace the italic texts with your descriptions*

## E-Commerce Transaktionsdaten

## Data source

Der Datensatz zeigt Transaktionsdaten eines E-Commerce Unternehmen aus dem Vereinigten Koenigreich. Die Daten wurden zwischen dem 01.12.2010 und dem 09.12.2011 erfasst.

Mithilfe des UCI Machine Learning Repository wurde der Datensatz von wurde Dr Daqing Chen zur Verfuegung gestellt. <br>
[Quelle:](https://archive.ics.uci.edu/ml/datasets/online+retail#) Dr Daqing Chen, Director: Public Analytics group. chend '@' lsbu.ac.uk, School of Engineering, London South Bank University, London SE1 0AA, UK.

## Data characterisitcs

Jeder Beobachtungswert stellt innerhalb des Datensatzes eine Transaktion / Produktbestellung dar, wobei mehrere Transaktionen / Produktbestellungen einer Rechnung(snummer) zugeteilt werden kann.

Der Datensatz enthaelt 541909 Beobachtungswerte mit 8 Spalten.

| Spaltenname  | Beschreibung  | Skalenniveau |
|---|---|---|
|InvoiceNo | Rechnungsnummer, 6-stellige Nummer, welche jede Transaktion eindeutig zuordnet. <br>Falls die Nummer ein "c" enthält wurde die Transaktion storniert. | Nominal |
|StockCode | Produktnummer, 5-stellige Nummer, welche jedem einzelnem Produkt eindeutig zugeordnet ist. | Nominal |
|Description | Beschreibung des Produkts. | Nominal |
|Quantity | Menge der einzelnen Produkte pro Transaktion. | Verhaeltnis |
|InvoiceDate | Uhrzeit und Datum der Rechnung. | Intervall |
|UnitPrice | Preis pro Produkt. | Verhaeltnis |
|CustomerID | Kundennummer, 5-stellige Nummer, welche je einem Kunden eindeutig zugeordnet ist. | Nominal |
|Country | Name des Landes in welchem der Kunde ansässig ist. | Nominal |

## Question

Wie sind die Umsaetze und Verkaeufe verteilt? Welche Kunden(gruppen), Produkt(gruppen) und Regionen sind besonders relevant?<br>
Welche saisonalen Einfluesse *scheinen* vorhanden zu sein?<br>
Wie kann sich das Unternehmen u.a. mithilfe des Online-Shops zukuenftig positionieren, um den Umsatz zu maximieren? 

## Overview of data

In [4]:
# Import der Python-Bibliothek pandas
import pandas as pd

# Import des Datensatzes
df = pd.read_csv("/Users/lukas/Desktop/data.csv", encoding= 'unicode_escape')

In [7]:
# Uebersicht der ersten zehn Beobachtungswerte
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [9]:
# Anzahl der Zeilen und Spalten des Datensatzes
df.shape

(541909, 8)

In [10]:
# Uebersicht der Variablen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [12]:
# Uebersicht der nummerischen Werte (CustomerID darf nicht für Berechnungen verwendet werden)
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [14]:
# Fehlende Werte
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## Name of topic idea 2

### Data source

*State the source of the data set and describe when and how it was originally collected (by the original data curator, not necessarily how you found the data)*


### Data characterisitcs

 *Describe the observations and the general characteristics being measured in the data (note that the data needs to meet the  criteria described in the project description)*

### Question

*Describe a question you're interested in answering using this data. 

### Overview of data

*Use the Pandas functions to provide an overview of the data set*